<md-whiteframe class="md-whiteframe-1dp" flex layout="column" >
    <span>Tabla de muestra usuarios</span>
<md-button ng-click="$ctrl.masObjetos()" class="md-raised md-primary">
  aumentar los elementos
</md-button>
<md-button ng-click="$ctrl.quitarAcciones()" class="md-raised ">
Quitar acciones
</md-button>
    <custom-table
    config="$ctrl.config"
    pagination="$ctrl.pagination"
    object-config="$ctrl.objectConfig"
    headers="$ctrl.headers"
    objects="$ctrl.objects"
     actions="$ctrl.actions"
     on-paginate="$ctrl.onPaginate(page, limit, total)"
     on-action="$ctrl.accionTabla(name, object)"
     on-selection="$ctrl.onSelect"
     on-deselection="$ctrl.onDeselect"></custom-table>
  </md-whiteframe>
