md-table-pagination div.label{
   color: rgba(0, 0, 0, 0.54) !important;
   font-size: 100%;
}

table{
  /* word-wrap:break-word !important; */
  /* table-layout: fixed !important; */
}

table.md-table{
  /* word-wrap:break-word !important; */
  /* table-layout: fixed !important; */
}

/* table.md-table td.md-cell, table.md-table th.md-column{
   text-align: center !important;
} */

md-switch.md-checked .md-bar{
  background-color: #4CAF50;
}
md-switch.md-checked .md-thumb{
  background-color: #FFFFFF;
}

.table-header{
  white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
